*{
    margin: 0px;
    padding: 0px;
}
/* the baner style */
.baner{
   
    background:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png') no-repeat ;
    height: 600px;
    width: 1320px;
    margin: 50px auto;
    
    
    
}
.baner-title{
    color: #FFF;
    text-align: center;
    padding-top: 180px;
    font-size: 32px;
    font-weight: 400px;
    font-family: 'Merriweather', serif;
    
}
.baner-contend{
    padding: 23px 344px 177px 344px;
}
.baner-style{
    color: #FFF;
    text-align: center;
    font-size: 70px;
    font-family: 'Merriweather', serif;
  
}
/* section contend */
.section-contend{
    text-align: center;
}
.contend-off{
    color: #F00;
    font-size: 80px;
    margin-bottom: 15px;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}
.contend-text{
    color: #F00;
    margin-bottom: 10px;
    font-size:15px ;
}
.content-title{
    color:#070211;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700px;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}
/* contend the iages */
.contend-images{
    margin: 0px 400px;
}
.section-imagess{
    background:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png') no-repeat;
    width: 1320px;
    height: 600px;
    margin: 60px auto;
}
.section-title{
    padding: 126px 10px 20px 126px;
}

.welcome{
    color: #FFF;
    font-size: 65px;
    font-weight: 900px;
   
}

.dolor{
    color: rgba(255, 255, 255, 0.80);
    padding: 0px 650px 14px 126px;

}
.button-contend{
    color: #FFF;
    background-color: black;
    padding: 10px;
   margin-left: 150px;
   margin-top: 30px;
   border-radius: 5px;
   border: 0px;
   cursor: pointer;
   font-size: 20px;
   font-weight: 60px;
}
/* section consequat */
.consequat{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 400px;
    margin: 0px auto;
    border-radius: 10px;
    margin-bottom: 10px;
}
.consequat-title{
    text-align: center;
    padding-top: 100px;
    font-size: 25px;
    font-weight: 500px;
    font-family: 'Inter Tight', sans-serif;

}
.conseqaut-text{
    margin-top: 10px;
}
span{
    color: #F00;
}
.button-contear{
    background-color:#F00 ;
    color: #FFF;
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    margin-top: 40px;
}
/* section new best offer */
.new-offer{
    
    width: 1320px;
    height: 400px;
    margin: 50px auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.new-contend{
    width: 33.33%;
    
    
}
.nwe-text{
    color: #F00;
}
.nwe-title{
    font-size: 30px;
    margin-top: 10px;
    font-weight: 400px;
    font-family: 'Inter Tight', sans-serif;
}
.new-font{
    color: rgba(7, 2, 17, 0.60);
    margin-top: 10px;
    padding-right: 160px;
}
.new-contend-images{
    padding: 20px;
    border-radius:463px ;
    border: 15px solid #F00;
}
.nwe-text-amet{
    font-size: 50px;
    font-family: 'Inter Tight', sans-serif;
    color: #F00;
    padding-left: 180px;
}
.new-title-dolor{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter Tight', sans-serif;
    padding-left: 180px;
    margin-top: 10px;
}
.new-title-dolo{
    padding-left:180px ;
    margin-top: 30px;
}
/* bones style */
.bunes-content{
   
    width: 1320px;
    height: 750px;
    margin: 90px auto;
}
.bunes-title{
    text-align: center;
}
.bunes-text{
    color: #070211;
    font-size: 15px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500px;
    margin: 10px auto;
}
.bunes-contenar{
    font-size: 55px;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    margin-top: 10px;

}
.holidays{
    color: #F00;
}
.bones-text-conteanr{
    padding: 10px 380px;
    color: rgba(7, 2, 17, 0.60);;
}
.bunes-font{
    display: flex;
}
.bones-con{
    width: 50%;
    height: 600px;
    background-image: url('../resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;

}
.bones-content-font{
    width: 50%;
    height: 600px;
    background-image: url('../resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    
}
.bones-box{
    background-image: url('../resources/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-position: right top;
    height: 373px;
    width: 100%;
}
.group{
    margin-left: 80px;
}
/* section no seven */
.index-contenar{
    width: 1320px;
    height: 1050px;
    margin: 0px auto;
}
.the-best{
    color: #F00;
    font-size: 15px;
    font-weight: 300px;
    font-family: 'Inter Tight', sans-serif;
    margin-top: 10px;
}
.our-awesome{
    color: #070211;
    font-size: 35px;
    font-weight: 900px;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    margin-top: 15px;
}
.borlor-sit{
    color: rgba(7, 2, 17, 0.60);
    font-size: 15px;
    font-weight: 400px;
    font-family: 'Inter Tight', sans-serif;
     padding-right: 665px;
     margin-top: 10px;
}
.content-image-style{
    margin-top: 20px;
}
.imagess-style{
    margin-right: 13px;
    cursor: pointer;
}
/* section no eighet */
.maim-section{
    background-color: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 500px;
    margin:100px auto;
}
.text-image{
    text-align: center;
    padding-top: 60px;
}
.buvscribe{
    font-size: 35px;
    font-weight: 800px;
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    margin-top: 20px;
}
.new-eget{
    color: rgba(7, 2, 17, 0.60);
    padding: 10px 350px;
}
.input-style{
    text-align: center;
    margin-top: 20px;
    text-transform: capitalize;
    border: none;
 
}
.input-text{
    width: 400px;
    height: 50px;
    border-radius: 25px 0px 0px 25px;
    padding-left: 10px;
   
}
.button-style{
    color: #FFF;
    width: 150px;
    height: 55px;
    background-color: #F00;
    border-radius: 0px 50px 50px 0px;
    font-size: 15px;
   font-weight: 600px;
  
   
}