*{
    margin: 0px;
    padding: 0px;
}
/* the baner style */
.baner{
    background-image: url('../resources/Banner\ Image.png');
    height: 600px;
    width: 1320px;
    margin: 50px auto;
}
.baner-title{
    color: #FFF;
    text-align: center;
    padding-top: 180px;
    font-size: 32px;
    font-weight: 400px;
    font-family: 'Merriweather', serif;
    
}
.baner-contend{
    padding: 23px 344px 177px 344px;
}
.baner-style{
    color: #FFF;
    text-align: center;
    font-size: 70px;
    font-family: 'Merriweather', serif;
  
}
/* section contend */
.section-contend{
    text-align: center;
}
.contend-off{
    color: #F00;
    font-size: 80px;
    margin-bottom: 15px;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}
.contend-text{
    color: #F00;
    margin-bottom: 10px;
    font-size:15px ;
}
.content-title{
    color:#070211;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700px;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}
/* contend the iages */
.contend-images{
    margin: 0px 400px;
}
.section-imagess{
    background-image: url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    margin: 60px auto;
}
.section-title{
    padding: 126px 10px 20px 126px;
}

.welcome{
    color: #FFF;
    font-size: 65px;
    font-weight: 900px;
   
}

.dolor{
    color: rgba(255, 255, 255, 0.80);
    padding: 0px 650px 14px 126px;

}
.button-contend{
    color: #FFF;
    background-color: black;
    padding: 10px;
   margin-left: 150px;
   margin-top: 30px;
   border-radius: 5px;
   border: 0px;
   cursor: pointer;
   font-size: 20px;
   font-weight: 60px;
}
/* section consequat */
.consequat{
    background-color: lavenderblush;
    width: 1320px;
    height: 400px;
    margin: 0px auto;
    border-radius: 10px;
    margin-bottom: 10px;
}
.consequat-title{
    text-align: center;
    padding-top: 100px;
    font-size: 25px;
    font-weight: 500px;
    font-family: 'Inter Tight', sans-serif;

}
.conseqaut-text{
    margin-top: 10px;
}
span{
    color: #F00;
}
.button-contear{
    background-color:#F00 ;
    color: #FFF;
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    margin-top: 40px;
}
/* section new best offer */